.sample-image-gallery-item {
    line-height: 0;
    position: relative;
    float: left;
    padding: 0px !important;
    margin: 19px;
    margin-top: 0px !important;
    background: white;
    overflow: hidden;
    border-radius: 4px;
    -webkit-box-shadow: 2px 2px 10px -4px rgba(0,0,0,0.53);
    -moz-box-shadow: 2px 2px 10px -4px rgba(0,0,0,0.53);
    box-shadow: 2px 2px 10px -4px rgba(0,0,0,0.53);
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
    transition-delay: 0ms;
}

.sample-image-gallery-item img{
    width: 100%;
}

.sample-image-gallery-item-title {
    position: absolute;
    bottom: 0px;
    line-height: 1.5;
    width: 100%;
    font-size: 13px;
    background: rgba(0,0,0,.5);
    color: #ffffff;
    padding: 5px;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
    transition-delay: 0ms;
    min-height: 30px;
}

.sample-image-gallery-item:hover .sample-image-gallery-item-title {
    text-overflow: ellipsis;
    white-space:normal;
    padding-bottom: 5px;
    height: 100%;
    font-size: 16px;
}

.sample-image-gallery-item:hover{
    -webkit-box-shadow: 1px 17px 10px -4px rgba(0,0,0,0.53);
    -moz-box-shadow: 1px 17px 10px -4px rgba(0,0,0,0.53);
    box-shadow: 1px 17px 10px -4px rgba(0,0,0,0.53);
}


@media only screen and (max-width: 600px) {
    .sample-image-gallery-item{
        width: 40%;
    }
} 

@media only screen and (min-width: 600px) {
    .sample-image-gallery-item{
        width: 40%;
    }
} 

@media only screen and (min-width: 768px) {
    .sample-image-gallery-item{
        width: 25%;
    }
} 

@media only screen and (min-width: 992px) {
    .sample-image-gallery-item{
        width: 20%;
    }
} 
